<!-- <loader *ngIf="loading && !data.length"></loader> -->
<!-- error -->
Hola
<div class="center" *ngIf="showErrorView" padding>
  <div class="error ">
    <ion-icon [name]="errorIcon"></ion-icon>
    <p>{{ 'Connection unavailable' | translate }}</p>
    <button ion-button color="primary" (click)="doTry()">
      {{ 'Try again' | translate }}
    </button>
  </div>
</div>
<!-- empty-->
<div class="center" *ngIf="showEmptyView" padding>
  <div class="error">
    <ion-icon [name]="errorIcon"></ion-icon>
    <p>{{ 'Bet not found' | translate }}</p>
  </div>
</div>
<div *ngIf="data.length">
  <div *ngFor="let item of data  ">
    <div>
      {{item.Name}}
    </div>
    <!-- <photo-card [item]="item"></photo-card> -->
  </div>
</div>
