<ion-header>
  <ion-navbar>
    <ion-title>
      {{fixtureName}} | {{marketName}}
    </ion-title>
  </ion-navbar>
    <ion-toolbar>
        <ion-title>Odd: {{currentOdd}}</ion-title>
        <button ion-button (click)="pushBet()">Bet</button>
    </ion-toolbar>
</ion-header>

<ion-content>

      <ion-list>
        <button *ngFor="let selection of selections" (click)="selectOdd(selection)"  ion-button>{{selection.name}}<br>{{selection.odd}}</button>
      </ion-list>

    <ion-list>

        <ion-item>
            <ion-label fixed>Odd</ion-label>
            <ion-input *ngIf="selectedodd" disabled="true" placeholder="{{selectedodd}}"></ion-input>
        </ion-item>

        <ion-item>
        <ion-label fixed>Value</ion-label>
        <ion-input [(ngModel)]="betamount" type="text"></ion-input>
    </ion-item>


    </ion-list>

    <div padding>
        <button *ngIf="selectedselection" ion-button color="primary" (click)="makebet(selectedselection,betamount)" block>Bet</button>
    </div>
</ion-content>
